.button{
    background-color: var(--primary-color);
    color: var(--bg-color1);
    font-family: var(--font-heading);
    font-size: var(--fs-medium);
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 10px;
     border: 3px solid var(--primary-color);
    transition: opacity 0.3s ease;
    
    cursor: pointer;
}
.button--secondary{
    background:transparent;
    color: var(--primary-color);
    font-family: var(--font-heading);
    font-size: var(--fs-medium);
    font-weight: 400;
    padding: 10px 25px;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}
.button:hover{
    opacity:.7;
}
.button--secondary:hover{
    opacity:.7;
}
