/*=== BODY ===*/
body{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom right, var(--bg-color1), var(--bg-color2));
    font-family:var(--font-body);
    font-size:var(--fs-regular);
    min-height:100vh;
    font-weight:400;
    color:var(--primary-color);
}
.main{
    flex:1;
}

.container{
    width: min(100% - 40px, 1200px);
    margin-inline: auto;
}

/*=== HERO-MAIN ===*/
.hero{
    margin-bottom: 2rem;
}
.hero__content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:5rem;
    flex-wrap:wrap;

}

.hero__text,
.hero__image{
    flex: 1;
}
.hero__text{
   
    display:flex;
    flex-direction:column;
    gap:1rem;
   
    
}
.hero__image{
    max-width:400px;
    min-width:200px;
}

.hero__name{
    font-family:var(--font-heading);
    font-weight:900;
    font-size:var(--fs-heading);
}

.hero__buttons{
    display:flex;
    gap:2rem;
}

/*=== ABOUT SECTION ===*/

.about__content{
    display:flex;
    gap:1rem;
}
.about__text,
.about__skills{
    flex: 1;
}
.about__title{
    font-family:var(--font-heading);
    font-weight:900;
    font-size:var(--fs-medium);

}
.skills__title{
    font-family:var(--font-heading);
    font-weight:400;
    font-size:var(--fs-medium);
}

.about__skills{
 background-color:var(--primary-color);
 padding:20px 28px;
 border-radius:15px;
 color:var(--bg-color1);
 box-shadow:var(--shadow);
}
.about__text{
    padding:20px 28px;
}
.skill__header{
    
    display:flex;
    justify-content:space-between;
}
.skills__list{
    display:flex;
    flex-direction:column;
    gap:1rem;
}
.skill__bar{
    width:100%;
    height:8px;
    background-color:var(--secondary-color);
    border-radius:5px;
}
.skill__progress{
    height:100%;
    background-color:white;
    border-radius:5px;
}
.skill__progress--ui-ux{
    width:80%;
}
.skill__progress--css{
    width:90%;
}
.skill__progress--javascript{
    width:60%;
}
.skill__progress--figma{
    width:80%;
}
.skill__progress--python{
    width:50%;
}
.skill__progress--sql{
    width:60%;
}

.skill{
    display:flex;
    flex-direction:column;
    gap:1rem;
}

/*=== PROJECTS SECTION ===*/
.projects__content{
    display:flex;
    flex-direction:column;
    gap:2rem;
}
.projects__title{
    font-family:var(--font-heading);
    font-weight:900;
    font-size:var(--fs-medium);
    text-align:center;
}

.projects__grid{
    display:grid;
    gap:1.5rem;
   grid-template-columns: repeat(3, 1fr);
}

.project-card{
flex:1;
}
.projects{
    margin-bottom:2rem ;
}
/*=== HERO-PROJECTS ===*/
.projects-hero__content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:5rem;
    flex-wrap:wrap;

}
.projects-hero__content *{
    flex:1;
}
.projects-hero__title{
    font-family: var(--font-heading);
    font-size: var(--fs-heading);
    font-weight:900;
}

/*=== CONTACT PAGE ===*/
.contact__hero{
margin-bottom:3rem ;
}
.contact-hero__content{
display:flex;
gap: 5rem;
align-items: center;
}
.contact-hero__image img{
    max-height: 250px;
}

.contact-hero__text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-hero__title{
    font-family: var(--font-heading);
    font-size: var(--fs-heading);
    font-weight:900;
}

.contact__content{
    display:flex;
    justify-content: space-between;
    gap:1rem;
    flex-wrap: wrap;
}
.contact__card{
    flex:1;
    display: flex;
    gap:1rem;
    align-items: center;
    background-color: var(--primary-color);
    color:var(--bg-color1);
    padding:15px 20px;
    border-radius: 16px;
}
.card__header{
    font-family: var(--font-heading);
    font-size: var(--fs-medium);
}

.contact__info{
    margin-bottom: 2rem;
}


.contact__form-section{
    margin-bottom: 2rem;
}
.contact-form__content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem;
}
.contact-form{
    flex:2;
    display:flex;
    flex-direction: column;
    border: 3px solid var(--primary-color);
    border-radius: 30px;
  
    gap:15px;
    padding:20px;
}
.contact-form__img{
    flex:1;
}
.contact-form__header{
    font-family: var(--font-heading);
}
input,textarea{
background-color: transparent;
border: 3px solid var(--primary-color);
border-radius: 9px;
padding:10px;
 width:100%;
    box-sizing:border-box;
}
input::placeholder,textarea::placeholder{
color:var(--secondary-color);
}
textarea{
    resize: none;
     min-height:150px;
}